*, *::before, *::after {
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    background:  hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}

.flex{
    display: flex;
}

.container{
    width: 90%;
    margin: 6.5dvh auto 3.25dvh;
    padding: 1em 0 0 0;
    border-radius: 16.1698px;
    background: hsl(216, 50%, 16%);
    max-width: 350px;
}

.container-child{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.pic-container{
    width: 100%;
    border-radius: 14.5526px;
    transition: 0.5s;
    /* flex-direction: column; */
}

.pic-container:hover{
    display: inline-block;
    background-color: hsl(178, 100%, 50%);
    padding: 0;
}

.pic-container img:hover{
    z-index: -1;
    opacity: .5;
}

#nft-photo{
    width: 100%;
    height: 100%;
    border-radius: 14.5526px;
}

#view{
    display: none;
    position: absolute;
}

.pic-container:hover #view{
    display: block;
    inset: 28vh 44%;
}

h1{
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    transition: 0.5s;
}

h1:hover{
    color: hsl(178, 100%, 50%);
}

h1:focus{
    color: hsl(178, 100%, 50%);
}

p{
    font-weight: 300;
}

.offer{
    justify-content: space-between;
}

.offer-child{
    align-items: center;
    font-size: 1rem;
    gap: .5em;
}

.offer-child img{
    height: 1em;
    width: .75em;
}

.creator{
    width:  90%;
    padding: 1.5em 0 1em;
    align-items: center;
    justify-content: space-between;
}

.eth{
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.time-limit{
    font-weight: 600;
}

#time-limit{
    width: 1em;
}

.creator img{
    height: 2.5em;
    border: solid 2px hsl(0, 0%, 100%);
    border-radius: 100%;
    width: 2.5em;
}

#creator{
    color: hsl(0, 0%, 100%);
    transition: 0.5s;
}

#creator:hover{
    color: hsl(178, 100%, 50%);
}

#creator:focus{
    color: hsl(178, 100%, 50%);
}

.attribution{
    margin-inline: auto;
    font-size: 0.6875rem;
    text-align: center;
    padding: 2em;
    color: hsl(0, 0%, 100%);
}

hr{
    width: 100%;
    margin: 2.5vh auto 0 auto;
    border: none;
    border-bottom: hsl(215, 32%, 27%) solid 2px;
}

#user-name{
    text-decoration: none;
    font-weight: bold;
    color: hsl(220, 15%, 55%);
    font-family: monospace;
    transition: 0.5s;
}

#user-name:hover{
    text-shadow: red 1px 0, cyan -1px 0;
}

@media (min-width: 1440px) {
    body{
        font-size: 1.5rem;
    }
    .container {
        width: 25%;
        margin: 5dvh auto 2.5dvh;
    }
    .eth{
        font-size: 1.15rem;
    }

    .time-limit{
        font-size: 1.15rem;
    }

    h1{
        font-size: 1.5rem;
    }

    p{
        font-size: 1rem;
    }

    .pic-container:hover #view{
        display: block;
        position: absolute;
        align-self: center;
        inset: 33vh 48.5%;
    }

    .offer-child{
        font-size: 1rem;
    }

    .offer-child{
        font-size: 1.5rem;
    }

    .creator{
        font-size: 1.25rem;
        width: 100%;
    }

    .creator img{
        height: 3rem;
        width: 3rem;
    }
}

@media (min-width: 768px) and (max-width: 1440px){

    .pic-container:hover #view{
        display: block;
        position: absolute;
        align-self: center;
        inset: 30vh 48.25%;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .container {
        width: 60%;
    }

    .pic-container:hover #view{
        display: block;
        position: absolute;
        align-self: center;
        inset: 23vh 45.5%;
    }
}